@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Source+Sans+3&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@200&display=swap');

 
body,
html {
	height: 100%;
	margin: 0;
	font-family: "Source Sans 3", sans-serif;
	font-size:11pt;
	color:#3a3a3a;
}

.container {
	height:100%;
	display:flex;
}

.map-container {
	padding: 8px;
	box-sizing: border-box;
	width: 100%;
}

.main-window {
	flex-grow: 1;
	height:100%;
}

.sidebar {
	width: 420px;
	background-color: #fbfbfb;
	flex-shrink:0;
	display: flex;
	flex-direction: column;
}

.sidebar-entry, .category {
	background-color: white;
	border: 1px solid #d8d8d8;
	padding: 15px;
	margin: 8px;
	margin-bottom: 16px;
	border-radius: 8px;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto;
	filter: drop-shadow(3px 3px 5px rgba(0, 0, 0, 0.15));
}

.category {
	display:flex;
}

.title {
	font-weight: bold;
}

.content {
		padding: 15px; 
}

.marker {
	width: 64px;
	height: 64px;
	background-size: contain;
	filter: drop-shadow(1px 1px 4px rgba(0, 0, 0, 0.3));
	cursor: pointer;
}

.marker svg {
    width: 100%;
    height: 100%;
}

.sidebar-image {
	max-width:100%;
	max-height:256px
}

.image-container {
	text-align:center;
	padding-bottom:20px;
	padding-top: 15px;
}

.description {
	padding: 5px;
}

.headline {
	padding: 10px;
	font-weight: bold;
}

.button-fit, .dropdownSelect, .legend{
	position: relative;
	z-index:100000;
	background-color: white;
	padding: 20px;
	border-radius: 8px;
	margin:20px;
	border: none;
	filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.25));
	width: fit-content;
	font-family: "Source Sans 3", sans-serif;
	font-size:10pt;
	color:#3a3a3a;
}

.tab {
	border: 1px solid #d8d8d8;
	position: relative;
	border-radius: 8px 8px 0px 0px;
	flex-grow: 1;
	margin-top: 8px;
	color: #969696;
	padding: 15px;
	font-weight: bold;
	display: flex;
}

.tab-body {
	background-color: #ccc;
	border-left: 1px solid #d8d8d8;
	overflow-y: auto;
	height: 100%;
	padding: 4px;
	padding-top: 8px;
	background: #FFFFFF;
}

.tab.active {
	background: #FFFFFF;
	border-bottom: none;
	color: #3a3a3a;
}

.tab-container {
	display: flex; /* or inline-flex */
}

.legend {
	display: flex;
	flex-direction: column;
	font-weight: bold;
	position: fixed;
	max-height: 50%;
}
.legend-item {
	display: flex;
	align-items: center;
	margin-top: 5px; /* Adjust spacing between items if needed */
	font-weight: normal;
}

.legend-sub-item {
	margin-left: 20px; /* Indent the radio buttons */
	font-weight: normal;
	align-items: center;
}

.legend-symbology {
	font-weight: normal;
	margin-left: 20px;  /* Indent to the right */
    display: flex;      /* Align symbol and text horizontally */
    align-items: center; /* Center them vertically */
    gap: 5px;   
}

.legend-sub-group {
	display: flex;
	flex-direction: column;
	font-weight: normal;
}

.maplibregl-popup {
	z-index:50000;
}

.maplibregl-popup-content {
	overflow: auto;
}

.collapsible {
	max-height: 0;
	transition: max-height 0.2s ease-out;
	overflow: scroll;
}

@media only screen and (max-width: 750px) {
  .container {
	flex-direction: column;
  }
  .map-container {
	height: 50%;
	padding: 0px;
  }
  .sidebar {
	font-size: 8pt;
	width: auto;
	height: 50%
  }

  .button-fit, .dropdownSelect, .legend{
	font-size:8pt;
	padding: 5px;
	margin: 5px;
	}

	.tab {
		margin-top: 0px;
		padding: 5px;
	}
}